version: '3.4'
services:
  avalanchego.avado.dnp.dappnode.eth:
    image: 'avalanchego.avado.dnp.dappnode.eth:0.1.73'
    build:
      context: ./build
      args:
        - VERSION=v1.9.0
    environment:
      - EXTRA_OPTS=--dynamic-public-ip=opendns
    volumes:
      - 'data:/root/.avalanchego'
    ports:
      - '9650:9650'
      - '9651:9651/tcp'
      - '9651:9651/udp'
      - '80:80'
      - '443:443'
    logging:
      options:
        max-size: 10m
        max-file: '3'
volumes:
  data: {}
